<?xml version='1.0' encoding='utf-8'?>
<widget id="orientierungsmesse.interfranken.de" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Orientierungsmesse</name>
    <description>
        Orientierungsmesse Ausbildung und Beruf 
    </description>
    <author email="h.schlund@interfranken.de" href="https://orientierungsmesse.interfranken.de">
        Zweckverband Industrie-/Gewerbepark InterFranken
    </author>
    <content src="index.html" />
    
    <icon src="icons/generic-icon.png" />
    
    <access origin="*" />
    <allow-navigation href="*" />
    <engine name="android" spec="~6.2.3" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.3" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
